<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h3">See the <a href="https://www.yogihosting.com/identityserver-aspnet-core-identity-mongodb-database/" target="_blank">IdentityServer with ASP.NET Core Identity and MongoDB as Database [Detailed Guide]</a></p>
    <p class="h4">Make Sure Identity Server Project "ISExample" is runnning also make sure MongoDB is running from the Docker Container.</p>
    <p class="h4">To test relogin - press F12 to enter developer tools. Go to "Application" tab, here you will see all the cookies. Delete them, now you will have to relogin to access the api.</p>
</div>