@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h3">See the <a href="https://www.yogihosting.com/identityserver-aspnet-core-identity-mongodb-database/" target="_blank">IdentityServer with ASP.NET Core Identity and MongoDB as Database [Detailed Guide]</a></p>
    <div class="bg-warning">
        <p>Check the Blow Links:</p>
        <p><a asp-controller="Operations" asp-action="Create">Create Identity User</a></p>
        <p><a asp-controller="Operations" asp-action="CreateRole">Create Identity Role</a></p>
    </div>
</div>
